---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About the Blog"
	author="Aaron McGuire"
	date={new Date('2026-05-31')}
	category="Meta"
>
	<p>Hello, folks! Welcome to Gothic Ginobili. I'm your host, <a href="https://twitter.com/docrostov/">Aaron McGuire</a>.</p>
	<hr />
	<h2>What's the deal with Gothic Ginobili?</h2>
	<blockquote>
		<p>Gothic Ginobili has been around since 2011 -- for most of that period, this was an ESPN TrueHoop Network affiliate. That network has dissolved, and that title is defunct. Our claim to fame was our 2012 Player Capsules, where I wrote 370,000 words in five months worth of essays outlining the follies, foibles, and talents of every player in the NBA. Generally speaking, GG was alive in its first iteration from 2011 to 2015, when our writers stopped actively posting due to life getting in the way of fun. The website was completely offline in all of 2019, due to a massive database drop that I fixed in early 2020. The writing is now backed up in multiple locations, and should at this point exist forever, for better or ill.</p>
	</blockquote>
	<h2>OK. So, GG was a basketball blog. What made it different from any other blogs?</h2>
	<blockquote>
		<p>At its apex, I think it was best described as a "weirdly thorough" spin on NBA coverage. Our collective of writers wrote a lot of long thinkpieces. Alex wrote some NBA fanfiction that still haunts my dreams to this day. I did some statistical analysis. Arnon joked about small markets. We weren't really a Spurs blog, despite my affection for Manu Ginobili. We only wanted to cover the Spurs in the context of the league as a whole.</p>
	</blockquote>
	<h2>Why name the blog after Manu Ginobili if it isn't a Spurs blog?</h2>
	<blockquote>
		<p>The two primary bloggers (Alex &amp; Aaron) were both pretty big Spurs fans. The name was a wink to let readers know that despite our best efforts we'd likely drift towards Spurs-related topics more frequently than other teams. We also wanted to celebrate Manu Ginobili's beautiful name. It's a great name! Also, I worked for a paper that called itself "The Gothic Guardian" in college, and "Gothic" makes for a nice shorthand. That's it. No further motive. (Also, notably, everyone still thought we were a Spurs blog. C'est la vie.)</p>
	</blockquote>
	<h2>Huh. OK. Weird. So, why did I find a link to this weird-ass blog in 2026?</h2>
	<blockquote>
		<p>As of writing, it's just me here -- the original founder, <a href="https://twitter.com/docrostov/">Aaron McGuire</a>. I missed writing. Thus, I'm writing again. Nothing big like the 2012 player capsules, but some general thoughts. Both NBA-related and well outside the league, too. This is essentially my personal blog now, although I'm leaving the 2011-2016 content up, because I think a lot of it is still pretty fun to read.</p>
	</blockquote>
	<h2>Why would I care about what you have to say?</h2>
	<blockquote>
		<p>Here's a little about me. I'm an applied statistician in the financial industry and technologist by trade, formerly employed at a top-5 bank and currently employed as the Head of Data Science at a credit consulting firm in Richmond, Virginia. I am a Spurs fan with Cleveland sports parentage who was born in Los Angeles, moved to Arizona, and went to college in North Carolina before settling in Virginia. I have no real sources in the NBA world; I am writing solely to scratch the itch of a fan that wishes fewer articles were trapped behind paywalls.</p>
	</blockquote>
	<hr />
	<h2>Huh. Alright. Who used to write here?</h2>
	<p>Here are our former primary writers, all of whom are very dear to me:</p>
	<ul>
		<li>
			<p><strong>Alex Dewey</strong> (<a href="https://twitter.com/DewNO/">@DewNO</a>) -- Dewey was the blog's co-founder and my most common co-writer during the blog's most active years. His twitter is best described as a computer slowly learning the meaning of humor, over years of tortured experimentation. He is still one of my favorite people in the world. He likes mathematics, socialism, and Marc Gasol. He came to my wedding! Isn't that sick? <a href="/author/alex-dewey.html">His posts are stored here.</a></p>
		</li>
		<li>
			<p><strong>Alex Arnon</strong> (Deleted his twitter years ago.) -- Arnon was one of the first writers added to the mix. His feature was Small Market Mondays, a weekly celebration of the NBA's small markets written by a Knicks fan whose tongue was planted so firmly in cheek that he was arrested for indecent exposure. Formerly Las Vegas based. Bought me my first triple shot of tequila, and managed to convince my drunk ass it was a single shot. <a href="/author/alex-arnon.html">His posts are stored here.</a></p>
		</li>
		<li>
			<p><strong>Adam Koscielak</strong> (<a href="https://twitter.com/TheBeardedPole">@TheBeardedPole</a>) -- Adam was the first writer I added without really knowing the guy at all. He's a law student in Poland who considers himself a Canadian. Loves Douglas Adams, loved Marcin Gortat. He was responsible for Gothic Ginobili's only real "news break" of particular note, which occurred when he <a href="/5142.html">transcribed a Marcin Gortat interview</a> where he slammed the Phoenix Suns. <a href="/author/adam-koscielak.html">His posts are stored here.</a></p>
		</li>
		<li>
			<p><strong>Jacob Harmon</strong> (<a href="https://twitter.com/morphingmandrel">@morphingmandrel</a>) -- Jacob was one of my best friends from the basketball discussion forum I met Arnon at. Crucially, he was the first author hired whose name didn't start with an A. Truly, an incredible achievement. He's an Alabama-based basketball fan engaged in constant combat against the hoops-hating culture that surrounds him. Charles Barkley is his shining light in a sea of black. <a href="/author/jacob-harmon.html">His posts are stored here.</a></p>
		</li>
		<li>
			<p><strong>John Hugar</strong> (<a href="https://twitter.com/thejohnhugar">@thejohnhugar</a>) -- John was the final writer we added. He's also been the most successful -- which means my atrocious editing didn't have time to take hold and ruin him forever. Hooray! John writes for pretty much everywhere. He's got bylines at AV Club, Uproxx, and Vice Sports. If you want to see his NBA work from here, <a href="/author/john-hugar.html">look at these posts!</a></p>
		</li>
	</ul>
	<p>
		<img alt="Our dudes on press row!" src="/wp-content/uploads/2011/10/1982030_10202305842860346_2098903591_n.jpg" /><br />
		<em>Pictured: Alex, Aaron, and Alex on press row at the 2013 Las Vegas Summer League.</em>
	</p>
</Layout>
